body {
    background-image: url("../public/bg_image_IITBHU.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    position: relative;
    background-position:center;
    background-size:cover;
    background-position-y: 100px;
}
.card-group {
    width: 75%;
    margin-left: 22%;
    height: auto;
}

.card-group > div
{
  flex:1 1 auto;
  text-align:center;
  margin:2%;
}

.card.out {
    background-color: white;
    box-shadow: 1 3px 7px rgba(0,0,0,0.5);
    padding: 1rem 2rem;
}

.card.in {
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 1rem 2rem;
    margin-bottom:1rem;
    flex-direction: row;
    justify-content: space-between;
}
i {
    /* margin-right:0px; */
    cursor: pointer;
    color: green;
}

