.card-groupp {
  display : flex;
  height: auto;
}

.card-groupp > div
{
flex:1 1 auto;
text-align:center;
margin:2%;
}
/* .done{
  flex-direction: column;
}  */



.card.out {
  background-color: rgba(0,0,0,0.1);
  box-shadow: 1 3px 7px rgba(0,0,0,0.5);
  padding: 1rem 2rem;
}

.bbutton>div
{
display: flex;
float: right;
margin-right: 2%;
margin-top:2%;
}