<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profileReg</title>
</head>

<body>
    <h1>profileRegProff</h1>
    <form action="/p/<%=id%>/profile" method="POST">
        <label for="fName">First Name</label>
        <input type="text" name="fName" id="fName" value=<%=fName%>>
        <label for="lName">Last Name</label>
        <input type="text" name="lName" id="lName" value=<%=lName%>>
        <label for="email">Email Id</label>
        <input type="email" name="email" id="email" value=<%=email%> readonly >
        <label for="totalStudentIntake">Total Student Intake</label>
        <input type="totalStudentIntake" name="totalStudentIntake" id="totalStudentIntake" value="10" readonly>
        <button type="submit">SAVE</button>
    </form>
</body>

</html>