.card-group {
    width: 75%;
    margin-left: 22%;
    height: auto;
  }
  
  .card-group > div
  {
  flex:1 1 auto;
  text-align:center;
  margin:2%;
  }
  
  .card.out {
    background-color: rgba(0,0,0,0.1);
    box-shadow: 1 3px 7px rgba(0,0,0,0.5);
    padding: 1rem 2rem;
  }