.card.in {
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 2rem 3rem;
    margin-bottom:1rem;
    flex-direction: row;
    justify-content: space-between;
  }