.loginbg{
    background-image: 
    linear-gradient(rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)),
    url("../images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 88vh;
    width: 100%;
    backdrop-filter: blur(20px);
}
.logbtn{
    margin-top: auto;
    padding: auto;
}
.button{
    text-align: center;
    padding-top: 25%;
}
.logbtn{
    background-color: antiquewhite;
    color: black;
    font-size: 40px;
    width: 30%;
    height: 25%;
}
.logbtn:hover::after{
    background-color: antiquewhite;
}
.btn-logo{
    height: 50px;
    width: 60px;
}
.head{
    text-align: center;
}
.Form{
    width: 40%;
    height: 80%;
    background-color: white;
    margin-left: 35%;
}
.ff{
    width: 250px;
    height: 50px;
    margin-top: 5%;
    margin-left: 5%;
}
.ff{
    position: relative;
}
.row{
  justify-content: center;
  margin-top: 5% ;
}
input{
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 15px;
}
 label{
    position: absolute;
    top: 50%;
    left: 1.4rem;
    cursor: text;
    transform: translateY(-50%);
    transition: all .8s ease;
}
input:focus + label,
input:valid + label{
    top: 0;
    background: white;
}
.btnProfile{
  text-align: right;
  margin-top: 5%;
  margin-right: 15%;
}
.BPro{
    height: 30%;
}
.roll{
    text-align: left;
}