.loginbg{
    background-image: 
    linear-gradient(rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)),
    url("../images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 88vh;
    width: 100%;
    backdrop-filter: blur(20px);
}
.logbtn{
    margin-top: auto;
   padding: auto;
}
.button{
    text-align: center;
    padding-top: 25%;
}
.logbtn{
    background-color: antiquewhite;
    color: black;
    font-size: 40px;
    width: 30%;
    height: 25%;
}
.logbtn:hover::after{
    background-color: antiquewhite;
}
.btn-logo{
    height: 50px;
    width: 60px;
}