.navbar-brand{
    height: 100px;

}
.logo{
    height: 75px;
    margin-left: 250px;
    margin-top: auto;
}
.heading{
    padding-left: 25px;
    padding-bottom: 20px;
    color: purple;
}
.clg{
    color: purple;
    padding-top: 45px;
    padding-inline-end: 0%;
}
.navbar navbar-expand-lg navbar-light bg-light{
    background-color: white;
}